body {
  background-color: #f4f2ee !important;
}

.imgStudio{
  max-height: 58px;
}

.cardBox{
  background-color: white;
  box-sizing: content-box;
}




/*IMMAGINE DI PROFILO*/

.userImg {
  position: absolute;
  top: 90px;
  left: 30px;
}

.cardBox {
  background-color: white;
  box-sizing: content-box;
}


.imgTeam {
  max-height: 201px;
}